*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

html {
  background: url("/static/img/Back x3.png") no-repeat center center;
  min-height: 100%;
  background-size: covers;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'Akzidenz-Grotesk Pro Bold Ext';
  font-size: 100px;
  letter-spacing: 0.05em;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.49) 0.01%, rgba(255, 255, 255, 0.95) 53.65%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 2%;

  margin-bottom: 0px;
  transition: 0.2s;
}

h1:hover {
  transform: scale(1.008);
}

.btn_txt {
  font-family: 'Akzidenz-Grotesk Pro Bold Ext';
  font-size: 30px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.49) 0.01%, rgba(255, 255, 255, 0.95) 53.65%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* padding: 16px 32px; */
  border: none;
}

.but_back {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 15px;
  display: inline-block;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}

.but_back:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.2);
}

img {
  pointer-events: none;
}

textarea {
  font-size: 16px;
  color: #545B5E;
  width: 40%;
  height: 600px;
  margin: 0px 10px 50px 10px;
  resize: none;
  padding: 18px;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.7) 100%);
  opacity: 0.8;
  transition: 0.2s;
  border-radius: 30px;
  outline: none;
}

textarea:hover {
  transform: scale(1.005);
  opacity: 0.9;
}

.leveling {
  margin: 2.3% 0% 0% 0;
}

.answer {
  margin-top: 4%;
  color:rgba(255, 255, 255, 0.9);
  font-family: 'Akzidenz-Grotesk Pro Bold Ext';
  font-size: 30px;
}