<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <title>Text Sense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='js/brython.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/brython_stdlib.min.js') }}"></script>
    <script type="text/python3">
        from browser import ajax, document
        import json
    
    
        o1 = document['answer_p']

        def ontextchange(e):
            tb1 = document["text1"].value
            tb2 = document["text2"].value
            word_cnt_1, symbol_cnt_1 = len(tb1.split(' ')), len(tb1)
            word_cnt_2, symbol_cnt_2 = len(tb2.split(' ')), len(tb2)
            document["tb1stats"].html = f'Первый текст:  Букв: {symbol_cnt_1}, слов: {word_cnt_1}'
            document["tb2stats"].html = f'Второй текст:  Букв: {symbol_cnt_2}, слов: {word_cnt_2}'

        def p(txt):
            if txt.text=='-1':
                o1.html = f'Текст не распознан'
            else:
                o1.html = f'Тексты похожи на: {str(txt.text)}%'

            o1.scrollIntoView({'behavior': 'smooth', 'block': 'start'})
    
        def click(e):
            req = ajax.Ajax()
            req.open('POST', 'http://192.168.50.254:8080/api/result')
            req.bind("complete", p)
            req.send({'t1': document['text1'].value, 't2': document['text2'].value})

            
        document["compare_btn"].bind("click", click)
        document["text1"].bind("input", ontextchange)
        document["text2"].bind("input", ontextchange)
    </script>
</head>

<body onload="brython()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>TEXT SENSE</h1>
            </div>
        </div>
    </div>

    <div class="leveling">
        <textarea id="text1" placeholder="Введите первый текст"></textarea>
        <textarea id="text2" placeholder="Введите второй текст"></textarea>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="but_back">
                <button id="compare_btn" class="btn_txt">Сравнить</button>
            </div>
        </div>
    </div>
    <p id="answer_p" class="answer"></p>
    <p id="tb1stats"></p>
    <p id="tb2stats"></p>
</body>

</html>